* {
    padding: 0;
    margin: 0;
}

/* shared style */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
    padding: 12.5px 16px;
    cursor: pointer;
    font-weight: 600;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #ffffff;
}

/* main style */

header nav {
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
}

header nav .logo-container {
    padding: 16px 0;
}

header nav .menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
    font-weight: 500;
}

header nav .menu li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

header nav .cta-button {
    display: flex;
    align-items: center;
}

header #hero-container {
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 674px;
    padding: 116px 120px 134px 120px;
}

header .hero-content {
    border: 1px solid #ffffff;
    max-width: 1360px;
    padding: 0 295px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hero-content .early-access {
    background-color: #ffffff;
    height: 35px;
    width: 230px;
    padding: 8px 16px;
    border-radius: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content .early-access p {
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
}

.hero-content #color-white {
    color: #ffffff;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-top: 16px;
}

.hero-content #color-green {
    color: #30B868;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
}

.hero-content .hero-text {
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}