* {
    padding: 0;
    margin: 0;
}

/* shared style */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
    padding: 12.5px 16px;
    cursor: pointer;
    font-weight: 600;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #ffffff;
}

/* main style */

header nav {
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
}

header nav .logo-container {
    padding: 16px 0;
}

header nav .menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
    font-weight: 500;
}

header nav .menu li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

header nav .cta-button {
    display: flex;
    align-items: center;
}