* {
    padding: 0;
    margin: 0;
}

/* shared style */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
    padding: 16.5px 16px;
    cursor: pointer;
    font-weight: 600;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    box-shadow: 0px 10px 20px 0px #00000015;
}

/* main style */

header nav {
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
}

header nav .logo-container {
    padding: 16px 0;
}

header nav .menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
    font-weight: 500;
}

header nav .menu li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

header nav .cta-button {
    display: flex;
    align-items: center;
}

header #hero-container {
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 116px 120px 134px 120px;
}

header .hero-content {
    max-width: 1360px;
    padding: 0 295px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero-content .early-access {
    background-color: #ffffff;
    height: 35px;
    width: 230px;
    padding: 8px 16px;
    border-radius: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content .early-access .circle {
    height: 16px;
    width: 16px;
    background-color: #46916525;
    border-radius: 50%;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content .early-access .inner-circle {
    height: 12px;
    width: 12px;
    background-color: #46916542;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.early-access .inner-circle .core-circle {
    height: 6px;
    width: 6px;
    background-color: #469165;
    border-radius: 50%;
}

.hero-content .early-access p {
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
}

.hero-content #color-white {
    color: #ffffff;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-top: 16px;
}

.hero-content #color-green {
    color: #30B868;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
}

.hero-content .hero-text {
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}

.hero-content .hero-cta {
    display: flex;
    gap: 16px;
}

.hero-content .hero-cta .btn-secondary {
    background-color: transparent;
    border: 2px solid #ffffff;
}

#problems .section-heading {
    text-align: center;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

#problems .section-heading h2 {
    font-size: 48px;
    color: #001931;
    margin-top: 60px;
    margin-bottom: 16px;
}

#problems .section-heading p {
    color: #627382;
    margin-bottom: 44px;
}

#problems .cards-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    justify-content: center;
}

#problems .cards-container .card-info {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 24px;
    width: 100%;
    max-width: 322px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cards-container .card-info .icon-image {
    height: 60px;
    width: 60px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 69.5px;
    margin-bottom: 16px;
}

.cards-container .card-info h4 {
    font-size: 24px;
    color: #001931;
    font-weight: 600;
    margin-bottom: 16px;
}

.cards-container .card-info p {
    color: #627382;
    line-height: 20px;
}

#solution {
    padding: 120px;
}

#solution .solution-container {
    display: flex;
    gap: 60px;
}

#solution .solution-container .solution-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.solution-container .solution-content .solution-header {
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 16px;
    color: #469165;
}

.solution-container .solution-content h2 {
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.solution-container .solution-content p {
    color: #627382;
    line-height: 20px;
    margin-bottom: 40px;
}

.solution-container .solution-content ul {
    list-style: none;
}

.solution-container .solution-content ul li {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
    color: #001931;
}

#cta-section {
    padding: 0 120px 120px 120px;
    text-align: center;
}

#cta-section .cta-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    background-color: #F7F6F2;
    padding: 80px 40px;
}

.cta-container .cta-content h2 {
    font-size: 40px;
    color: #001931;
    margin-bottom: 16px;
}

.cta-container .cta-content p {
    color: #627382;
    line-height: 24px;
    margin-bottom: 24px;
}

.btn-primary {
    margin-bottom: 16px;
}